# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: PlugNPiN
site_url: https://deepspace2.github.io/plugnpin
repo_url: https://github.com/deepspace2/plugnpin
nav:
  - About: index.md
  - Configuration: configuration.md
  - Usage: usage.md
  - Contributing: contributing.md
theme:
  name: material
  custom_dir: docs/theme/overrides
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.integrate
  palette:
    # auto-mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: "material/brightness-auto"
        name: ""

    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
extra:
  version:
    alias: true
    provider: mike
markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
